@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 사이트 제목 */
.form-title{ 
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    margin-top: 100px;
    font-family: 'MaplestoryOTFBold'; 
    color: #368ad9
    
}
.form {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:250px;
    padding:10px;
  }
  .form-header {
    height:30px;
    display:flex;
    align-items:center;
    text-align:center;
    font-family: 'MaplestoryOTFBold'; 
  }
  .form .form-header > div {
    width:calc(100% / 2);
    color:#ddd;
    font-size:27px;
    font-weight:600px;
    cursor:pointer;
  }
  .form.signup .form-header div.show-signup {
    color:#368ad9;
  }
  .form.signin .form-header div.show-signin {
    color:#368ad9;
  }
  .form.reset .form-header div.show-reset {
    color:#368ad9;
  }
  .form .form-elements {
    margin-top:15px;
  }
  .form .form-elements .form-element {
    height:50px;
    opacity:1;
    overflow:hidden;
    transition:all 500ms ease-in-out;
  }
  /* 입력창 */
  .form .form-elements input {
    width:100%;
    padding:10px;
    font-size:16px;
    margin:5px 0px;
    border-radius:15px;
    box-sizing:border-box;
    border:1px solid #222;
    background:#f5f5f5;
    font-family: 'MaplestoryOTFBold';
  }
  /* 버튼 CSS*/
  .form .form-elements button {
    width:95%;
    padding:10px;
    font-size:25px;
    font-weight:700;
    margin-top:5px;
    border-radius:15px;
    background:#368ad9;
    color:#f5f5f5;
    cursor:pointer;
    border:none;
    outline:none;
    font-family: 'MaplestoryOTFBold';
  }
  /* 화살표 CSS*/
  .form .arrow {
    position:absolute;
    top:51px;
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #368ad9;
  }
  /* 회원가입 화살표 CSS*/
  .form.signup .arrow {
    left:calc(calc(100% / 2) / 2.1);
  }
  /* 로그인 화살표 CSS*/
  .form.signin .arrow {
    left:calc(calc(100% / 2) + calc(calc(100% / 3) / 1.7)) ;
  }
  

  /* 로그인태그 누를시 input창 접히는 css */
  .form.signin .form-elements > div:nth-child(3) {
    height:0px;
    opacity:0;
  }
  .form.signin .form-elements > div:nth-child(4) {
    height:0px;
    opacity:0;
  }
  .form.signin .form-elements > div:nth-child(5) {
    height:0px;
    opacity:0;
  }
  .form.signin .form-elements > div:nth-child(6) {
    height:0px;
    opacity:0;
  }



/*   
  .form-element {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-element input,
  .form-element select {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
   */
  /* .form-element select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em;
    padding-right: 2rem;
  } */

  #submit-btn-login {
    display: none;
  }

